//@theme "/home/daniel/.local/share/rofi/themes/kanagawa.rasi"
//@theme "/home/daniel/.local/share/rofi/themes/launchpad.rasi"
//@theme "/home/daniel/.config/rofi/themes/kanagawabox.rasi"
//@theme "/home/daniel/.config/rofi/themes/gruvbox.rasi"
/* @theme "/home/daniel/.config/rofi/themes/kanagawa1.rasi" */
@theme "/home/daniel/.config/rofi/themes/light.rasi"

